*{
    box-sizing: border-box;
}

html { 
    background: url("./galaxy2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header{
      width: 100%;
      display: flex;
      justify-content: center;
  }

  header > * {
      position: absolute;
  }
