*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html { 
    background: url("./galaxy2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

 /* Reusable things I forgot the name lol */

  .font-color-light {
      color: rgb(241,250,238)
  }

  .font-color-dark {
      color: rgb(0,48,73);
  }

  .font-md {
      font-size: 1rem
  }

  .font-lg {
      font-size: 1.5rem;
  }

  .abspos {
    position: absolute;
}

  .centerflex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  .margin-top-sm {
      margin-top: 0.6rem;
  }

  .margin-bottom-sm {
    margin-bottom: 0.6rem;
}

/* element classes */ 

  header{
      width: 100vw;
      margin-top: 30vw;
  }

  .header-moon {
      min-width: 300px;
      max-width: 600px;
      width: 50vw;
      z-index: 2;
  }

  .header-logo {
      height: 7vw;
      min-height: 50px;
      max-height: 80px;
      z-index: 2;
  }

  .input-form {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25vh 0 1rem 0;
    padding: 0.5rem;
    width: 300px;
    z-index: 2;
  }

  /* Styling for button */

  button{
    border-radius: 1rem;
    padding:0.5rem;
  }

  button:hover{
    background-color:rgb(21,62,118);
    color:white;
  }
  /* Styling for output */

  /* .output {
      display: none;
      padding: 5vh;
      top: 0;
      position: absolute;
      height: 90%;
      width: 100vw;
      background-color: rgba(241,250,238, 0.95);
      background-size: cover;
      z-index: 3;
      color: rgb(0,48,73);
      animation: fadeIn 1.5s ease-in-out;
  } */

  .output {
    display: none;
    padding: 5vh;
    top: 0;
    position: absolute;
    height: 100vh;
    /* border-radius: 5%; */
    min-width: 100vw;
    background-color: rgb(174,224,241);
    background-size: cover;
    z-index: 3;
    color: rgb(0,48,73);
    animation: fadeIn 1.5s ease-in-out;

}

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#giphy {
    height: 200px;
}

/* Twinkle twinkle */

#star-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 1;
  }

.star {
    position: absolute;
    display: inline-block;
    line-height: 0;
    border-radius: 50%;
    height: 0.3vw;
    width: 0.3vw;
    margin: 0;
    background-color: rgba(250,249,249, 1);
  }
  
  @keyframes twinkle {
    0%   { opacity: 1; }
    5%  { opacity: 0.2; }
    50% { opacity: 0.8; }
    80%  { opacity: 0.4; }
    100% { opacity: 1; }
  }

/* Media Queries */

  @media (min-width: 1000px) {
    header {
        margin-top: 50vh;
    }
    .header-logo {
        top: 30vh;
    }
    .input-form {
        margin: -5vh 0 0 0;
        color: rgb(29,53,87);
        z-index: 2;
    }
  }
